.section-sites {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 0px;
  margin-left: auto;
  margin-right: auto;
}

.article {
  margin-top: 15px;
  width: 420px;
  background-color: #faf1f1;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.article-header {
  background-color: #0f467e;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding-top: 1px;
}

.article-theme {
  color: white;
  margin: auto;
  text-align: start;
  padding: 10px;
}

.article-content {
  margin-left: 10px;
  margin-right: 10px;
}

.article-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.article-paragraph {
  padding-bottom: 15px;
}

@media only screen and (max-width: 1300px) {
  .section-sites {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: px;
    grid-row-gap: 20px;
  }

  .article {
    margin-top: 0px;
    width: auto;
  }

  .article-header {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .article-image {
    width: 100%;
    height: auto;
  }

  a {
    width: 100%;
    height: auto;
  }
  body {
    margin: auto;
  }
}
