@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.main {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  background-color: beige;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
}

.main section {
  margin: 1em;
}

.events {
  width: 30%;
  display: flex;
  flex-direction: column;
  height: 87vh;
  justify-content: space-around;
  background-color: rgb(43, 226, 73);
  align-items: center;
}

.events div {
  background-color: rgb(43, 189, 226);
  width: auto;
  height: auto;
  width: 95%;
  height: 32%;
}

.news {
  width: 30%;
  display: flex;
  flex-direction: column;
  height: 87vh;
  justify-content: space-around;
  background-color: rgb(43, 226, 73);
  align-items: center;
}
.news div {
  background-color: rgb(43, 189, 226);
  width: 95%;
}

.news :nth-child(1) {
  height: 65%;
}

.news :nth-child(2) {
  height: 32%;
}

.spotLights {
  width: 30%;
  display: flex;
  flex-direction: column;
  height: 87vh;
  justify-content: space-around;
  background-color: rgb(43, 226, 73);
  align-items: center;
}

.spotLights div {
  background-color: rgb(43, 189, 226);
  width: auto;
  height: auto;
  width: 95%;
  height: 32%;
}

@media only screen and (max-width: 1000px) {
  .main section {
    margin: auto;
  }
  .main {
    width: 100%;
    flex-direction: column;
  }

  .main :nth-child(1) {
    order: 3;
  }
  .main :nth-child(2) {
    order: 1;
  }
  .main :nth-child(3) {
    order: 2;
  }
  .news {
    height: auto;
    width: 100%;
  }
  .news :nth-child(1) {
    height: 30vh;
    width: 100%;
    margin-bottom: 1em;
  }

  .news :nth-child(1) {
    order: 2;
  }

  .news :nth-child(2) {
    height: 30vh;
    width: 100%;
    margin-bottom: 1em;
    order: 1;
  }

  .spotLights {
    flex-direction: row;
    height: auto;
    width: 100%;
  }

  .spotLights :nth-child(3) {
    display: none;
  }
  .spotLights div {
    width: 100%;
    height: 30vh;
    margin: 1em;
    margin-top: 0;
  }

  .events {
    flex-direction: row;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
  }

  .events div {
    width: 100%;
    height: 30vh;
    margin-top: 0;
    margin-bottom: 1em;
  }
  .events :nth-child(1) {
    order: 2;
    width: 55%;
  }
  .events :nth-child(2) {
    order: 3;
    width: 37%;
  }
  .events :nth-child(3) {
    order: 1;
    width: 96%;
  }
}

@media only screen and (max-width: 600px) {
  .events {
    flex-direction: column;
  }
  .events div {
    margin-bottom: 1em;
  }
  .spotLights {
    flex-direction: column;
  }

  .events :nth-child(1),
  .events :nth-child(2),
  .events :nth-child(3) {
    width: 100%;
  }
}
