.thypo-title {
  margin-top: 20px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.thypo-paragraph {
  margin-top: 20px;
  text-align: center;
  width: 90%;
  margin: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.thypo {
  margin-top: 25px;
}

.thypo p {
  text-align: center;
  margin-top: 15px;
}

.thypo-navigation {
  font-size: 1.2em;
}

.thypo-titles {
  font-size: 1.2em;
}

.thypo-paragraphs {
  font-size: 15px;
}

@media only screen and (max-width: 800px) {
  
}