.target-title {
  margin-top: 20px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.target-paragraph {
  margin-top: 20px;
  text-align: center;
  width: 90%;
  margin: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.persona {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }

.persona-container {
  display: inline-flex;
  align-items: center;
  background-color: rgb(214, 228, 241);
  padding: 10px;
  border-radius: 25px;
}

img {
  max-width: 200px;
  border-radius: 250px;
}

.persona-paragraphs {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}

.persona-paragraphs p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.scenarios {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;    
    width: 80%;
    margin: auto;    
    margin-bottom: 50px;
}

.question {
    margin-top: 10px;
    text-decoration:solid;
    font-weight: bold;
}

@media only screen and (max-width: 800px) {
    .persona {
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .persona-container {
        margin-top: 10px;
    }
}