.color-title {
  margin-top: 20px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.target-paragraph {
  margin-top: 20px;
  text-align: center;
  width: 90%;
  margin: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.pallete {  
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.pallete p {
  padding: 20px;
  border-radius: 25px;
  border-color: black;
  width: 150px;
  text-align: center;
}

.navigation {
  background-color: #5F5980;
  color: #DFDFDF;
}

.background {
  background-color: #DFDFDF;
}

.font {
  background-color: #343434;
  color: #DFDFDF;
}

.container-layout {
  background-color: #2F3061;
  color: #DFDFDF;
}

@media only screen and (max-width: 800px) {
  .pallete{
    flex-direction: column;
  }

  .pallete p {
    margin-top: 20px;
    width: 90%;
  }
}